{% extends 'base.html.twig' %}

{% block body %}


    <h1 style="text-align:center">Add Dokter</h1>
    <hr class="turq">

    <div class="row docs">
        {# app/Resources/views/product/new.html.twig #}
        <h1>Adding a new product</h1>
        {{ form(form) }}
    </div>
{% endblock %}

