{% extends 'base.html.twig' %}

{% block body %}


  <h1> Welkom op de website van Artsengroep de Zorgkroon</h1>
    <p>U vindt hier informatie over de organisatie van Artsengroep de Zorgkroon, u kunt hier online een afspraak maken.</p>




{% endblock %}

