{% extends 'base.html.twig' %}

{% block body %}

  <h1> Welkom op de website van Artsengroep de Zorgkroon</h1>
    <p>U vindt hier informatie over de organisatie van Artsengroep de Zorgkroon, u kunt hier online een afspraak maken.</p>

  <h1 style="text-align:center">{{ title }}</h1>
  <hr class="turq">
  <h2 style="text-align:center">Maandag-Vrijdag</h2>
  <h3 style="text-align:center">09u00 - 17u30</h3>
  <h2 style="text-align:center">Zaterdag</h2>
  <h3 style="text-align:center">09u00 - 15u00</h3>
  <h2 style="text-align:center">Zondag</h2>
  <h3 style="text-align:center">Gesloten</h3>

{% endblock %}

