{% extends 'admin.base.html.twig' %}

{% block body %}


    <h1 style="text-align:center">Verwijder Dokter</h1>
    <hr class="turq">
    <h2>Ben je zeker dat je deze Dokter wil verwijderen?</h2>
    <div class="row docs">
        {{ form(form) }}
    </div>
{% endblock %}

