{% extends 'admin.base.html.twig' %}

{% block body %}


    <h1 style="text-align:center">Lokaal Toevoegen</h1>
    <hr class="turq">

    <div class="row docs">
        {{ form(form) }}
    </div>
{% endblock %}

